/* CSS */
.table-container {
    position: relative;
}
.btn-show{
	color: blue;
}
.btn-hide{
	color:red;
}

/* CSS cho bảng chi tiết */
.detail-table {
    opacity: 0.9;
    
    position: absolute;
    left: 28%;
    right: 27%;
    max-width: 1000px;
    z-index: 2;
    border-radius: 10px;
}
