 
 <!-- Sidebar -->
 <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
		<div class="sidebar-brand-icon rotate-n-15">
			<i class="fas fa-laugh-wink"></i>
		</div>
		<div class="sidebar-brand-text mx-3">Shoe Galaxy </div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0">

	<!-- Nav Item - Dashboard -->
	<li class="nav-item active">
		<a class="nav-link" href="index.html">
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span>Dashboard</span></a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block">
 
	<!-- Nav Item - Charts -->
	<li class="nav-item">
		<a class="nav-link" href="#!product">
			<i class="fas fa-fw fa-chart-area"></i>
			<span>product</span></a>
	</li>

	<!-- Nav Item - Tables -->
	<li class="nav-item">
		<a class="nav-link" href="#!history">
			<i class="fas fa-fw fa-table"></i>
			<span>history</span></a>
	</li>
	 <!-- Nav Item - Tables -->
	 <li class="nav-item" th:if="${#request.isUserInRole('STAF')}">
		<a class="nav-link" href="#!authorize">
			<i class="fas fa-fw fa-table"></i>
			<span>authorize</span></a>
	</li>
	 <!-- Nav Item - Tables -->
	 <li class="nav-item" th:if="${#request.isUserInRole('STAF')}">
		<a class="nav-link" href="#!revenue">
			<i class="fas fa-fw fa-table"></i>
			<span>revenue</span></a>
	</li>
		<li class="nav-item">
		<a class="nav-link" href="#!discount">
			<i class="fas fa-fw fa-chart-area"></i>
			<span>Discount Code</span></a>
	</li>
	 </li>
		<li class="nav-item">
		<a class="nav-link" href="#!discountProduct">
			<i class="fas fa-fw fa-chart-area"></i>
			<span>Discount Product</span></a>
	</li>
	</li>
		<li class="nav-item">
		<a class="nav-link" href="#!size">
			<i class="fas fa-fw fa-chart-area"></i>
			<span>Manager Size</span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#!chart">
			<i class="fas fa-fw fa-table"></i>
			<span>chart</span></a>
	</li>
	
	<!-- Divider -->
	
</ul>