<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout.html::dynamic(~{::title}, ~{::body})}">
<head>
    <title>Thay đổi thông tin cá nhân</title>
    <meta charset="utf-8">
</head>
<style>
.address-div {
    overflow-y: auto;
    max-height: 200px; 
}
</style>
<body>
    <div class="container-md">      
           <form action="/profile" method="post" enctype="multipart/form-data">       
    <!-- End Navbar -->
    <div class="card shadow-lg mx-3 card-profile-bottom my-5">
    
      <div class="card-body p-3">
      
        <div class="row gx-4">
        
          <div class="col mx-2">
          
            <div class="avatar avatar-xl position-relative">
            <!--   <img id="imagePreview" src="/images/hoan.jpg" alt="profile_image" class="w-100 border-radius-lg shadow-sm"> -->
            
               <img class="w-25 h-50 border-radius-lg shadow-sm" id="imagePreview" th:src="@{'/images/' + ${account.photo}}"  alt="Avatar">
            
            </div>
            <h5 class="mb-1 my-2" id="fullname" name="fullname" th:text="${account != null ? account.fullname : ''}" style="font-family: Arial, sans-serif; font-size: 20px; margin-left: -1px; bottom:50;">
</h5>

          </div>
          
          <div class="col my-auto">
            
              <div class=" col-md-9 text-center"style="margin-bottom:80px;">
            <h5 class=""style="font-color:black;">Thay đổi thông tin cá nhân</h2>
        </div>          
          </div>
          
        
          
          <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
            <div class="nav-wrapper position-relative end-0">
              <ul class="nav nav-fill p-1" role="">
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1 active d-flex align-items-center justify-content-center   " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="true">
                    <i class="fa-solid fa-cube"></i>
                    <span class="ms-2">App</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                  <i class="fa-solid fa-envelope"></i>
                    <span class="ms-2">Messages</span>
                  </a>
                  
                </li>
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                   <i class="fa-solid fa-gear"></i>
                    <span class="ms-2">Settings</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
    
    
    
    
    
    <div class="container-fluid py-4 vh-100"style="font-family:sans-serif;">
      <div class="row">
        <div class="col-md-8">
          <div class="card my-0">
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                <p class="mb-0">Edit Profile</p>
                <button class="btn btn-primary btn-sm ms-auto">Save</button>
              </div>
            </div>
          <div class="d-flex justify-content-center">
                <div th:if="${success}" class="text-success" th:text="${success}"></div>
                <div th:if="${error}" class="text-danger" th:text="${error}"></div>
            </div>
            <div class="card-body">
              <p class="text-uppercase text-sm">User Information</p>
              <div class="row">
               <div class="col-md-8">
                  <div class="form-group">
                    <label class="form-control-label mx-3 font-weight-bolder text-xs" >Họ và tên <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" style="background-color:white;border: 1px solid black;" id="fullname" name="fullname"
                                       th:value="${account != null ? account.fullname : ''}" required>
                  </div>
                </div>
                <div class="col-md-8 my-3">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label mx-3 font-weight-bolder text-xs">Username <span class="text-danger">*</span></label>
                    
                    <input type="text" style="background-color:white;border: 1px solid black;" class="form-control" id="username" name="username"
                                       th:value="${account != null ? account.username : ''}" required>
                  </div>
                </div>
                
                
                
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label mx-3 font-weight-bolder text-xs">Email address <span class="text-danger">*</span></label>
                    <input type="email" style="background-color:white;border: 1px solid black;" class="form-control" id="email" name="email"
                                       th:value="${account != null ? account.email : ''}" required>
                  </div>
                </div>
               
               
               
                <div class="col-md-8 my-3">
                  <div class="form-group">   
                                <label for="example-text-input" class="form-control-label mx-3 font-weight-bolder text-xs">Chọn ảnh hồ sơ mới:</label>
                                <input type="file"style="background-color:white;border: 1px solid black;"  class="form-control" name="image" id="image" onchange="previewImage(this)">
                        </div>
                </div>
                
               <div class="col-md-12 pt-4">
											<label class="text-danger" th:text="${session.messagesAddress}"></label>
											<select class="form-select" name="address2" id="address2">
												<option selected disabled>Open address menu</option>
												<!-- Kiểm tra điều kiện userAddresses null hoặc trống -->
												<th:block
													th:if="${userAddresses == null or #lists.isEmpty(userAddresses)}">
													<option value="" disabled>Vui lòng thêm địa chỉ</option>
												</th:block>
												<!-- Nếu userAddresses không null và không trống, hiển thị danh sách địa chỉ -->
												<th:block
													th:if="${userAddresses != null and not #lists.isEmpty(userAddresses)}">
													<option th:each="address : ${userAddresses}"
														th:value="${address.id}" th:text="${address.addressDetail}">
													</option>
											</select>
										</div>
                <a class="mt-4" id="editButton">Edit</a>

										
                
                
                
              </div> <!--  row -->
             <div class="col-md-12 mt-3 address-div" style="display: none;">
    <div class="row">
        <div class="col-md-6">
            <label for="province" class="text-black">Province/City<span class="text-danger">*</span></label>
            <select class="form-select mb-3" name="provinceLabel" id="province">
                <!-- <option value="">chọn tỉnh/thành phố</option> -->
            </select>
        </div>
        <div class="col-md-6">
            <label for="district" class="text-black">District<span class="text-danger">*</span></label>
            <select class="form-select mb-3" name="districtLabel" id="district">
                <option value="">chọn quận</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="ward" class="text-black">Ward<span class="text-danger">*</span></label>
            <select class="form-select mb-3" name="wardLabel" id="ward">
                <option value="">chọn phường</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="address" class="text-black">Street Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="address" name="address" placeholder="Street Name">
        </div>
    </div>

    <div class="btn-group w-45" role="group" aria-label="Basic example">
        <button class="btn btn-primary my-3 py-3 btn-block mx-1" formaction="/addAddressToProfile" formmethod="post">Thêm</button>
        <button class="btn btn-primary my-3 py-3 btn-block mx-1" formaction="/updateAddressToProfile" formmethod="post">Sửa</button>
        <button class="btn btn-primary my-3 py-3 btn-block mx-1" formaction="/deleteAddressFromProfile" formmethod="post">Xóa</button>
        
    </div>
</div>
             
              
              <hr class="horizontal dark">
             
            </div>
            
          </div>
          
        </div>
        
        <div class="col-md-4">
        
         <img id="imagePreview" src="/images/bannergiay.jpg" alt="profile_image" class="h-65 w-75 border-radius-lg shadow-sm">
        </div>
        
      </div>
      
      
      
      
      
      
     
    </div>
              
            </form>
             </div>

            <script>
                function previewImage(input) {
                    var imagePreview = document.getElementById('imagePreview');
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            imagePreview.src = e.target.result;
                        };
                        reader.readAsDataURL(input.files[0]);
                    }
                }
            </script>
       	<script>
       	var addressDiv = document.querySelector('.address-div');
       	var editButton = document.getElementById("editButton");
       	editButton.addEventListener("click", function () {
       	    var isHidden = addressDiv.style.display === "none";
       	    if (isHidden) {
       	        addressDiv.style.display = "block";
       	   
       	        addressDiv.style.maxHeight = "300px";
       	    } else {
       	        addressDiv.style.display = "none";
       	        addressDiv.style.maxHeight = "0px";
       	    }
       	});
		


	</script>
    
</body>
</html>
