<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/layout.html::dynamic(~{::title}, ~{::body})}"
	encoding="UTF-8">

<head>
<title>Shoe Galaxy</title>
<meta charset="utf-8">
</head>

<body>
	<div class="bg-light py-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mb-0">
					<a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <a
						href="cart.html">Cart</a> <span class="mx-2 mb-0">/</span> <strong
						class="text-black">Checkout</strong>
				</div>
			</div>
		</div>
	</div>

	<div class="site-section">
		<div class="container">
			<div class="row mb-5">
				<div class="col-md-12">
					<div class="border p-4 rounded" role="alert">
						Returning customer? <a href="#">Click here</a> to login
					</div>
				</div>
			</div>
			<div th:if="${messages != null}" class="alert alert-danger">
				<p th:text="${messages}"></p>
			</div>
			<form action="/checkout.html" method="post">
				<div class="row">
					<div class="col-md-6 mb-5 mb-md-0">
						<h2 class="h3 mb-3 text-black">Your Order</h2>

						<div class="p-3 p-lg-5 border">
							<table class="table site-block-order-table">
								<thead>
									<th>Id</th>
									<th>Image</th>
									<th>Size</th>
									<th>Price</th>
									<th>Count</th>
									<th>Total</th>

								</thead>
								<tbody>
									<tr ng-repeat="item in cart.items | filter : { status: true }">
										<td><input ng-model="item.product.id" type="text"
											name="productId" style="width: 50%"></td>

										<td><img style="width: 50%" src="/images/{{item.image}}"></td>

										<td><input ng-model="item.size" type="text" name="sizeId"
											style="width: 100%"><br></td>

										<td>${{cart.price_product(item)}}</td>
										<td><input ng-change="cart.updateQtyDatabase(item.id,  item.qty)"
											name="countProduct" ng-model="item.qty" type="number" min="1"
											style="width: 30px" class="border border-light" /></td>

										<td><input type="text" name="priceTotal" style="width: 100%; border: none;"
												value="{{cart.amtt_of(item)}}"></td>



										<td><input type="text" name="priceTotal"
											style="width: 100%; border: none;"
											value="{{ cart.amtt_of(item)}}"></td>
									</tr>
								</tbody>


							</table>

							<table class="table site-block-order-table mb-5">
								<thead>
									<th>Total order amount</th>
									<th
										th:if="${discountCodes != null and calculatedValue != null}">Discount</th>
									<th
										th:if="${discountCodes != null and calculatedValue != null}">Price
										after discount</th>

								</thead>
								<tbody>
									<tr>


										<td><input class="text-black font-weight-bold border border-light" type="text"
												name="total"
												th:value="${calculatedValue != null ?  + calculatedValue : '{{cart.amount}}'}" />

											<input style="text-decoration: line-through;"
											class="text-black font-weight-bold border border-light"
											type="text" th:value="${{cartAmount}}" /></td>
										<td><input type="hidden" id="inputAmount"
											name="totalAmount" value="{{cart.amount}}" /></td>

										<td><input type="text" id="inputAmount"
											style="width: 100%; border: none; outline: none;"
											name="totalAmount" class="text-black font-weight-bold"
											value="{{cart.amount}}" /></td>

										<td
											th:if="${discountCodes != null and calculatedValue != null}"><input
											style="width: 100%; border: none; outline: none;"
											class="text-black font-weight-bold border border-light"
											type="text"
											th:value="${#numbers.formatDecimal(priceVoucher, 2, 'COMMA', 2, 'POINT')}" />
										</td>
										<td
											th:if="${discountCodes != null and calculatedValue != null}">
											<!-- Kiểm tra xem có mã giảm giá và calculatedValue có giá trị hay không -->
											<input style="width: 100%; border: none; outline: none;"
											class="text-black font-weight-bold border border-light"
											type="text" name="total"
											th:value="${calculatedValue != null ? +calculatedValue : '{{cart.amount | number : 2}}'}" />
										</td>

									</tr>
								</tbody>
							</table>

							<input class="text-black font-weight-bold border border-light"
								type="hidden" th:value="${{idCode}}" name="IdCode" />


							<div class="btn-group btn-group-toggle d-flex flex-column mb-4"
								data-toggle="buttons">
								<label class="btn btn-secondary active"> <input
									type="radio" name="options" id="option1" autocomplete="off"
									checked> Thanh toán khi nhận hàng
								</label> <label class="btn btn-secondary"> <input type="radio"
									name="options" id="option2" autocomplete="off"> Paypal
								</label> <label class="btn btn-secondary"> <input type="radio"
									name="options" id="option3" autocomplete="off"> Thẻ
									ngân hàng
								</label>
							</div>
							
							<div class="form-group">
								<button class="btn btn-primary btn-lg py-3 btn-block" id="placeOrderButton" onclick="placeOrder()">Place
									Order</button>
							</div>
						</div>
					</div>

					<div class="col-md-6">

						<div class="row mb-2">
							<div class="col-md-12">
								<h2 class="h3 mb-3 text-black">Billing Details</h2>
								<div class="p-3 p-lg-5 border">

									<div class="form-group row">


										<div class="col-md-12">
											<label th:text="${message}"></label> <label for="c_fname"
												class="text-black">Name<span class="text-danger">*</span>
											</label> <input type="text" class="form-control" id="fullname"
												name="fullname" th:value="${user.fullname}" required>
										</div>
										<div class="col-md-12 pt-4">
											<label for="c_email_address" class="text-black">Email
												Address <span class="text-danger">*</span>
											</label> <input type="text" class="form-control" id="email"
												name="email" th:value="${user.email}" required>
										</div>

										<div class="col-md-12 pt-4">
											<label class="text-danger"
												th:text="${session.messagesAddress}"></label> <select
												class="form-select" name="address2" id="address2">
												<option selected disabled>Open address menu</option>
												<!-- Kiểm tra điều kiện userAddresses null hoặc trống -->
												<th:block
													th:if="${userAddresses == null or #lists.isEmpty(userAddresses)}">
													<option value="" disabled>Vui lòng thêm địa chỉ</option>
												</th:block>
												<!-- Nếu userAddresses không null và không trống, hiển thị danh sách địa chỉ -->
												<th:block
													th:if="${userAddresses != null and not #lists.isEmpty(userAddresses)}">
													<option th:each="address : ${userAddresses}"
														th:value="${address.id}"
														th:text="${address.addressDetail}"></option>
											</select>
										</div>

									
										<a class="btn btn-dark mt-4 col-sm-2 text-light" id="editButton">Edit</a>

										<div class="col-md-12 mt-3 address-div" style="display: none;">
											<label for="c_fname" class="text-black">Province/City<span
												class="text-danger">*</span>
											</label> <select class="form-select mb-3" name="provinceLabel"
												id="province">
												<!--<option value="">chọn tỉnh/thành phố</option>-->
											</select> <label for="c_fname" class="text-black">District<span
												class="text-danger">*</span>
											</label> <select class="form-select mb-3" name="districtLabel"
												id="district">
												<option value="">chọn quận</option>
											</select> <label for="c_fname" class="text-black">Ward<span
												class="text-danger">*</span>
											</label> <select class="form-select mb-3" name="wardLabel" id="ward">
												<option value="">chọn phường</option>
											</select> <label for="c_address" class="text-black">Street
												Name <span class="text-danger">*</span>
											</label> <input type="text" class="form-control" id="address"
												name="address" placeholder="Street Name">

											<div class="btn-group w-100" role="group"
												aria-label="Basic example">
												<button class="btn btn-primary my-3  py-3 btn-block  mx-1"
													formaction="/addAddress" formmethod="post">Thêm</button>
													
												<button class="btn my-3  py-3 btn-block  mx-1 "
													formaction="/updateAddress" formmethod="post">Sửa</button>
												<button class="btn my-3  py-3 btn-block  mx-1 "
													formaction="/deleteAddress" formmethod="post">
													Xóa</a>
											</div>

										</div>

									</div>

								</div>
							</div>
						</div>


						<div class="row mb-5 border ">
							<div class="col-md-12">

								<div th:if="${error}" class="alert alert-danger">
									<p th:text="${error}"></p>
								</div>

								<div class="row">
									<div class="col-md-12">
										<label class="text-black h4" for="coupon">Coupon</label>
										<p>Enter your coupon code if you have one.</p>
									</div>
									<div class="col-md-8 mb-5 mb-md-0">
										<input type="text" name="code" class="form-control py-3"
											placeholder="Nhập mã giảm giá" th:value="${code}">
									</div>
									<div class="col-md-4 mb-5">
										<button type="submit" class="btn btn-dark btn-sm"
											formaction="/searchCodee">Tìm kiếm</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script>
		// Thêm sự kiện click ẩn hiện vào nút "Edit"
		var addressDiv = document.querySelector('.address-div');
		var editButton = document.getElementById("editButton");
		editButton.addEventListener("click", function() {
			var isHidden = addressDiv.style.display === "none";
			if (isHidden) {
				addressDiv.style.display = "block";
			} else {
				addressDiv.style.display = "none";
			}
		});
		// SỰ KIỆN NÚT PLACE ORDER
		function placeOrder(){
			var option1 = document.getElementById("option1");
			var option2 = document.getElementById("option2");
			var option3 = document.getElementById("option3");
			var placeOrderButton = document.getElementById("placeOrderButton");
			if (option1.checked){
            	placeOrderButton.formAction = "/checkout.html";
            	placeOrderButton.formMethod = "post";
        	} else if(option2.checked){			
            	placeOrderButton.formAction = "/paypal";
            	placeOrderButton.formMethod = "post";
            	placeOrderButton.click();
			}else if(option3.checked){			
            	placeOrderButton.formAction = "/VnPay";
            	placeOrderButton.formMethod = "get";
            	placeOrderButton.click();
			}
		}

	</script>
</body>

</html>