<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/layout.html::dynamic(~{::title}, ~{::body})}">
<head>
<title>Shoe Galaxy</title>
<meta charset="utf-8">
</head>
<body>

	<div id="carouselExampleIndicators" data-aos="fade-up"
		class=" container-fluid col-sm-10  carousel slide">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleIndicators"
				data-bs-slide-to="0" class="active" aria-current="true"
				aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators"
				data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators"
				data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<a href="/shop.html/searchBrand?brand=Adidas">
					<figure class="image">
						<img src="images/slide1.webp" class="d-block w-100"
							style="height: 500px" alt="...">
					</figure>
				</a>


			</div>
			<div class="carousel-item">
				<figure class="image">
					<img src="images/bannershoe2.webp" class="d-block w-100 "
						style="height: 500px" alt="...">
				</figure>

			</div>
			<div class="carousel-item">
				<figure class="image">
					<img src="images/slide2.jpg" class="d-block w-100"
						style="height: 500px" alt="...">
				</figure>

			</div>
		</div>
		<button class="carousel-control-prev" type="button"
			data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span> <span
				class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button"
			data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span> <span
				class="visually-hidden">Next</span>
		</button>
	</div>




	<div class="container mt-5" data-aos="fade-up">
		<div class="row">
			<div class="col-12">
				<h1 class="big-sale">BIG SALES</h1>
			</div>
			<div class="col-md-3 col-6 col-sm-6"
				th:each="discountProduct : ${discountProducts}"
				th:if="${(T(java.time.LocalDate).now().isAfter(discountProduct.start_Date) and T(java.time.LocalDate).now().isBefore(discountProduct.end_Date)) or 
           T(java.time.LocalDate).now() == discountProduct.start_Date or T(java.time.LocalDate).now() == discountProduct.end_Date} 
           and ${discountProduct.product.available} and ${discountProduct.active} and ${discountProduct.product.category.available}">
				<div class="product-card-shoe">
					<div class="product-image-container">
						<a th:href="@{|/shop-single.html/${discountProduct.product.id}|}">
							<span th:if="${not #lists.isEmpty(images)}"> <span
								th:each="pro : ${pro}"> <span
									th:if="${pro.id == discountProduct.product.id}"> <img
										class="product-image-shoe img-fluid"
										style=" height:auto;"
										th:src="@{|/images/${pro.images[0].image}|}"
										alt="Nike Dunk Low Retro Premium">


								</span>
							</span>
						</span>
						</a>


						<div class="discount-badge-shoe"
							th:text="${discountProduct.percentage + '%'}"></div>
					</div>
					<div class="product-details-shoe">
						<div class="product-title-shoe text-truncate"
							th:text="${discountProduct.product.name}"></div>
						<div class="product-price-shoe"
							th:text="${'$'+ (discountProduct.product.price - (discountProduct.product.price * discountProduct.percentage/100))}"></div>
						<div class="original-price-shoe"
							th:text="${'$' + discountProduct.product.price}"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container mt-5 mb-3" data-aos="fade-up">
		<div class="row">
			<div class="col-12 ">
				<h1 class="big-sale">POPULAR SHOES</h1>
			</div>
			<div class="col-md-3 col-6 col-sm-6"
				th:each="pro, iterStart : ${pro}"
				th:if="${pro.category.available} and ${iterStart.index < 4}">
				<div class="product-card-shoe">
					<div class="product-image-container">

					<a th:href="@{|/shop-single.html/${pro.id}|}">
					<img class="product-image-shoe"

							th:src="@{|/images/${pro.images[0].image}|}" th:alt="${pro.name}">
					</a>
						
						<div class="discount-badge-shoe"
							th:if="${pro.discountProduct != null and not #lists.isEmpty(pro.discountProduct) and
                             (T(java.time.LocalDate).now().isAfter(pro.discountProduct[0].start_Date) and
                             (T(java.time.LocalDate).now().isBefore(pro.discountProduct[0].end_Date) or
                             T(java.time.LocalDate).now().isEqual(pro.discountProduct[0].end_Date)))} and ${pro.discountProduct[0].active}">
							<span th:text="${pro.discountProduct[0].percentage + '%'}"></span>
						</div>
					</div>
					<div class="product-details-shoe">
						<div class="product-title-shoe text-truncate"
							th:text="${pro.name}"></div>
						<div
							th:if="${pro.discountProduct != null and not #lists.isEmpty(pro.discountProduct) and
                             pro.discountProduct[0].active and
                             (T(java.time.LocalDate).now().isAfter(pro.discountProduct[0].start_Date) and
                             (T(java.time.LocalDate).now().isBefore(pro.discountProduct[0].end_Date) or
                             T(java.time.LocalDate).now().isEqual(pro.discountProduct[0].end_Date)))} and ${pro.discountProduct[0].active}">

							<span class="product-price-shoe"
								th:text="${'$' + (pro.price - (pro.price * pro.discountProduct[0].percentage / 100))}"></span>
							<del class="original-price-shoe" th:text="${'$' + pro.price}"></del>
						</div>
						<div class="product-price-shoe"
							th:if="${pro.discountProduct != null and not #lists.isEmpty(pro.discountProduct) and
                             (T(java.time.LocalDate).now().isBefore(pro.discountProduct[0].start_Date) or
                             T(java.time.LocalDate).now().isAfter(pro.discountProduct[0].end_Date))} and ${pro.discountProduct[0].active}">
							<span th:text="${'$' + pro.price}"></span>
						</div>
						<div class="product-price-shoe"
							th:unless="${pro.discountProduct != null and not #lists.isEmpty(pro.discountProduct) and pro.discountProduct[0].active}">
							<span th:text="${'$' + pro.price}"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid col-sm-10 mt-5" data-aos="fade-up">
		<img src="images/banner5.jpg" style="height: 350px; width: 100%"
			alt="...">
	</div>


	<div class="container mt-5 mb-3" data-aos="fade-up">
		<div class="row">
			<div class="col-12 ">
				<h1 class="big-sale">NEW PRODUCTS</h1>
			</div>
			<div th:each="newProduct : ${newProduct}"
				class="col-md-3 col-6 col-sm-6"
				th:if="${newProduct.available} and ${newProduct.category.available}">
				<div class="product-card-shoe">

					<div class="product-image-container">
					<a th:href="@{|/shop-single.html/${newProduct.id}|}"><img class="product-image-shoe"

							th:src="@{|/images/${newProduct.images[0].image}|}"
							th:alt="${newProduct.name}"></a>
						
						<div class="discount-badge-shoe"
							th:if="${newProduct.discountProduct != null and not #lists.isEmpty(newProduct.discountProduct) and
                             (T(java.time.LocalDate).now().isAfter(newProduct.discountProduct[0].start_Date) and
                             (T(java.time.LocalDate).now().isBefore(newProduct.discountProduct[0].end_Date) or
                             T(java.time.LocalDate).now().isEqual(newProduct.discountProduct[0].end_Date)))} and ${newProduct.discountProduct[0].active}">
							<span th:text="${newProduct.discountProduct[0].percentage + '%'}"></span>
						</div>
					</div>
					<div class="product-details-shoe">
						<div class="product-title-shoe text-truncate"
							th:text="${newProduct.name}"></div>
						<div
							th:if="${newProduct.discountProduct != null and not #lists.isEmpty(newProduct.discountProduct) and
                             newProduct.discountProduct[0].active and
                             (T(java.time.LocalDate).now().isAfter(newProduct.discountProduct[0].start_Date) and
                             (T(java.time.LocalDate).now().isBefore(newProduct.discountProduct[0].end_Date) or
                             T(java.time.LocalDate).now().isEqual(newProduct.discountProduct[0].end_Date)))} and ${newProduct.discountProduct[0].active}">
							<span class="product-price-shoe"
								th:text="${'$' + (newProduct.price - (newProduct.price * newProduct.discountProduct[0].percentage / 100))}"></span>
							<del class="original-price-shoe"
								th:text="${'$' + newProduct.price}"></del>
						</div>
						<div
							th:if="${newProduct.discountProduct != null and not #lists.isEmpty(newProduct.discountProduct) and
                             (T(java.time.LocalDate).now().isBefore(newProduct.discountProduct[0].start_Date) or
                             T(java.time.LocalDate).now().isAfter(newProduct.discountProduct[0].end_Date))} and ${newProduct.discountProduct[0].active}">
							<span class="product-price-shoe"
								th:text="${'$' + newProduct.price}"></span>
						</div>
						<div
							th:unless="${newProduct.discountProduct != null and not #lists.isEmpty(newProduct.discountProduct) and newProduct.discountProduct[0].active}">
							<span class="product-price-shoe"
								th:text="${'$' + newProduct.price}"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="container mt-5 mb-3" data-aos="fade-up">
		<div class="row">
			<div class="col-12 ">
				<h1 class="big-sale">Best Selling Products</h1>
			</div>
			<div th:each="detail : ${orderDetails}"
				class="col-md-3 col-6 col-sm-6" th:if="${detail[4]} ">
				<div class="product-card-shoe" th:each="pro : ${pro}"
					th:if="${pro.id == detail[0] and pro.category.available}">
					<div class="product-image-container">
						<a th:href="@{|/shop-single.html/${detail[0]}|}"> <!-- Place your image here -->
							<span th:if="${not #lists.isEmpty(images)}"> <span
								th:each="pro : ${pro}"> <span
									th:if="${pro.id == detail[0]}"> <!-- Hiển thị ảnh --> <img
										th:if="${not #lists.isEmpty(pro.images)}"
										class="product-image-shoe img-fluid"
										th:src="@{|/images/${pro.images[0].image}|}">
								</span>
							</span>
						</span>
						</a>
						<div th:if="${not #lists.isEmpty(discountProducts)}">
							<div th:each="discountProduct : ${discountProducts}"
								th:if="${discountProduct.product.id ==  detail[0] and T(java.time.LocalDate).now().isAfter(discountProduct.start_Date) and T(java.time.LocalDate).now().isBefore(discountProduct.end_Date)}">
								<span th:if="${discountProduct.active}"> <span
									class="discount-badge-shoe"
									th:text="${discountProduct.percentage + '%' }"></span>

								</span>
							</div>

						</div>
					</div>
					<div class="product-details-shoe">
						<div class="product-title-shoe text-truncate"
							th:text="${detail[1]}"></div>


						<div th:each="product : ${pro}" th:if="${product.id == detail[0]}">
							<p
								th:if="${product.discountProduct != null and not #lists.isEmpty(product.discountProduct) and product.discountProduct[0].active}">
								<span
									th:if="${T(java.time.LocalDate).now().isAfter(product.discountProduct[0].start_Date) and (T(java.time.LocalDate).now().isBefore(product.discountProduct[0].end_Date) or T(java.time.LocalDate).now() == product.discountProduct[0].end_Date)}">
									<span class="product-price-shoe"
									th:text="${'$' + (product.price - (product.price * product.discountProduct[0].percentage / 100))}"></span>
									<del class="original-price-shoe"
										th:text="${'$' + product.price}"></del>

								</span> <span
									th:unless="${T(java.time.LocalDate).now().isAfter(product.discountProduct[0].start_Date) and (T(java.time.LocalDate).now().isBefore(product.discountProduct[0].end_Date) or T(java.time.LocalDate).now() == product.discountProduct[0].end_Date)}">
									<span class="product-price-shoe"
									th:text="${'$' + product.price}"></span>

								</span>
							</p>
							<p
								th:unless="${product.discountProduct != null and not #lists.isEmpty(product.discountProduct) and product.discountProduct[0].active}">
								<span class="product-price-shoe"
									th:text="${'$' + product.price}"></span>

							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid col-sm-10 mt-5" data-aos="fade-up">
		<img src="images/bannerIndex.jpg" style="height: 350px; width: 100%"
			alt="...">
	</div>




	<div id="carouselExampleControls" class="carousel slide"
		data-ride="carousel" data-aos="fade-up">

		<div class="row justify-content-center col-sm-12 mt-3">
			<div class="col-md-7 site-section-heading text-center pt-4">
				<h2 th:text="#{body.collection}">Local Collections</h2>
			</div>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="site-section site-blocks-2">
					<div class="container">
						<div class="row">
							<div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0"
								data-aos="fade" data-aos-delay="">
								<a class="block-2-item" href="/shop.html?brand=MLB">
									<figure class="image">
										<img src="images/m1.webp" alt="" class="img-fluid">
									</figure>
									<div class="text">
										<span class="text-uppercase">Collections</span>
										<h3>MLB</h3>
									</div>
								</a>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0"
								data-aos="fade" data-aos-delay="100">
								<a class="block-2-item" href="/shop.html?brand=Adidas">
									<figure class="image">
										<img src="images/a5.webp" alt="" class="img-fluid">
									</figure>
									<div class="text">
										<span class="text-uppercase">Collections</span>
										<h3>Adidas</h3>
									</div>
								</a>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0"
								data-aos="fade" data-aos-delay="200">
								<a class="block-2-item" href="/shop.html?brand=Nike">
									<figure class="image">
										<img src="images/n4.webp" alt="" class="img-fluid">
									</figure>
									<div class="text">
										<span class="text-uppercase">Collections</span>
										<h3>Nike</h3>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="site-section site-blocks-2">
					<div class="container">
						<div class="row">
							<div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0"
								data-aos="fade" data-aos-delay="">
								<a class="block-2-item" href="/shop.html?brand=MLB">
									<figure class="image">
										<img src="images/converse.jpg" alt="" class="img-fluid">
									</figure>
									<div class="text">
										<span class="text-uppercase">Collections</span>
										<h3>Converse</h3>
									</div>
								</a>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0"
								data-aos="fade" data-aos-delay="100">
								<a class="block-2-item" href="/shop.html?brand=Adidas">
									<figure class="image">
										<img src="images/van1_1.jpg" alt="" class="img-fluid">
									</figure>
									<div class="text">
										<span class="text-uppercase">Collections</span>
										<h3>Vans</h3>
									</div>
								</a>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0"
								data-aos="fade" data-aos-delay="200">
								<a class="block-2-item" href="/shop.html?brand=Nike">
									<figure class="image">
										<img src="images/puma.jpg" alt="" class="img-fluid">
									</figure>
									<div class="text">
										<span class="text-uppercase">Collections</span>
										<h3>Puma</h3>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="site-section site-blocks-2">
					<div class="container">
						<div class="row">
							<div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0"
								data-aos="fade" data-aos-delay="">
								<a class="block-2-item" href="/shop.html?brand=MLB">
									<figure class="image">
										<img src="images/Alexander McQueen.jpg" alt=""
											class="img-fluid">
									</figure>
									<div class="text">
										<span class="text-uppercase">Collections</span>
										<h3>Alexander McQueen</h3>
									</div>
								</a>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0"
								data-aos="fade" data-aos-delay="100">
								<a class="block-2-item" href="/shop.html?brand=Adidas">
									<figure class="image">
										<img src="images/Balenciaga.jpg" alt="" class="img-fluid">
									</figure>
									<div class="text">
										<span class="text-uppercase">Collections</span>
										<h3>Balenciaga</h3>
									</div>
								</a>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0"
								data-aos="fade" data-aos-delay="200">
								<a class="block-2-item" href="/shop.html?brand=Nike">
									<figure class="image">
										<img src="images/NewBalance.jpg" alt="" class="img-fluid">
									</figure>
									<div class="text">
										<span class="text-uppercase">Collections</span>
										<h3>NewBalance</h3>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleControls"
			role="button" data-slide="prev"> <span
			class="carousel-control-prev-icon" aria-hidden="true"></span> <span
			class="sr-only">Previous</span>
		</a> <a class="carousel-control-next" href="#carouselExampleControls"
			role="button" data-slide="next"> <span
			class="carousel-control-next-icon" aria-hidden="true"></span> <span
			class="sr-only">Next</span>
		</a>
	</div>





	<div class="site-section site-section-sm site-blocks-1 border-0"
		data-aos="fade">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4"
					data-aos="fade-up" data-aos-delay="">
					<div class="icon mr-4 align-self-start">
						<span class="icon-truck"></span>
					</div>
					<div class="text">
						<h2 class="text-uppercase">Free Shipping</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4"
					data-aos="fade-up" data-aos-delay="100">
					<div class="icon mr-4 align-self-start">
						<span class="icon-refresh2"></span>
					</div>
					<div class="text">
						<h2 class="text-uppercase">Free Returns</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4"
					data-aos="fade-up" data-aos-delay="200">
					<div class="icon mr-4 align-self-start">
						<span class="icon-help"></span>
					</div>
					<div class="text">
						<h2 class="text-uppercase">Customer Support</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
					</div>
				</div>
			</div>
		</div>
	</div>





</body>
</html>