<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout.html::dynamic(~{::title}, ~{::body})}"
>
<head>
    <title>Đang giao hàng</title>
    <meta charset="UTF-8">
</head>
<body>

<div class="container">
 <div class="row p-4">
     <div class="col-3 text-center ">
      <a class="ka"  th:href="@{/TrangThai}">Ordered</a>
     </div>
     <div class="col-3 text-center ">
     <a class="ka" th:href="@{/unshipped}">Waitting for confirmation</a>
     </div>
    <div class="col-3 text-center">
     <a class="ka"  style="border-bottom: 1px solid #ee83e5;"th:href="@{/ontheway}">On the way</a>
     </div>
     <div class="col-3 text-center">
     <a class="ka" th:href="@{/shipped}" style="text-decoration: none;color: black;">Shipped</a>
     </div>
     </div>
     
 </div>
 <section class="vh-90" >
  <div class="container h-50">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col" >
        <div class="card mb-4 t-2">
          <div class="card-body p-4">

            <div class="row align-items-center" th:each="obj : ${ontheway}">
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">OrderId</p>
                  <p class="lead fw-normal mb-0" th:text="${obj[0]}"></p>
                </div>
              </div>
              <div class="col-md-2">
                <img th:src="@{|/images/${obj[6]}|}"
                  class="img-fluid w-10" alt="Generic placeholder image">
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Name</p>
                  <p class="lead fw-normal mb-0" th:text="${obj[7]}"></p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Size</p>
                  <p class="lead fw-normal mb-0" th:text="${obj[5]}"></p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Quantity</p>
                  <p class="lead fw-normal mb-0" th:text="${obj[4]}"></p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Price</p>
                  <p class="lead fw-normal mb-0" th:text="${obj[8]}"></p>
                </div>
              </div>
            <div class="card mb-5">
          <div class="card-body p-4">

            <div class="float-end" >
    <p class="mb-0 me-5 d-flex align-items-center">
        <span class="small text-muted me-2">Order total:</span>
        <span class="lead fw-normal" th:text="${obj[2]}"></span>
    </p>
</div>

          </div>
        </div>
            </div>   
 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
